<%- include("template/PageTemplate") %> 

<div class="header">
    <h1>Project Pheonix Dashboard</h1>
</div>
<div class="content">
    <div class="box">
        <div class="field">
            <label for="AppNameInput" class="label">App name</label>
            <div class="control">
                <input id="inputAppName" name="AppNameInput" type="text" class="input input-custom" placeholder="Insert app name" value="<%= data.app_name %>">
            </div>
        </div>
        <div class="field">
            <label for="AppUrlInput" class="label">App url</label>
            <div class="control">
                <input id="inputAppUrl" name="AppUrlInput" type="text" class="input input-custom" placeholder="Insert app url" value="<%= data.app_url %>">
            </div>
        </div>
        <div class="field button-zone">
            <button class="button is-primary" type="submit" onclick="cmdItem('<%= htmlFormat.targetUrl %>', '<%= htmlFormat.methodType %>')"><%= htmlFormat.submitText %></button>
        </div>
    </div>
</div>