<%- include("template/PageTemplate") %> 

<div class="header">
    <h1 class="title header-title is-4">Finix WebApp Library</h1>
</div>
<div class="content">
    <div class="box">
        <div class="box-header">
            <a class="back-button" href="/">↩ Back to dashboard</a>
            <h1 class="title box-title"><%= htmlFormat.formTitle %></h1>
        </div>
        <div class="field">
            <label for="AppNameInput" class="label">App name</label>
            <div class="control">
                <input id="inputAppName" name="AppNameInput" type="text" class="input input-custom" placeholder="Insert app name" value="<%= data.app_name %>">
            </div>
        </div>
        <div class="field">
            <label for="AppUrlInput" class="label">App url</label>
            <div class="control">
                <input id="inputAppUrl" name="AppUrlInput" type="text" class="input input-custom" placeholder="Insert app url" value="<%= data.app_url %>">
            </div>
        </div>
        <div class="field button-zone">
            <button id="submitForm" class="button is-primary" type="submit" onclick="cmdItem('<%= htmlFormat.targetUrl %>', '<%= htmlFormat.methodType %>')">Save changes</button>
        </div>
    </div>
</div>