<%- include("template/PageTemplate"); %> 

<div class="header">
    <h1 class="title header-title is-4">Finix WebApp Library</h1>
    <a class="button is-link header-button" href="/add">add new app</a>
</div>
<div class="content content-home">
    <% appList.forEach(app => { %>
        <div class="card">
            <a class="open-app-button" href="<%= app.app_url %>">
                <div class="card-content">
                    <h2 class="app-title"><%= app.app_name %></h2>
                </div>
            </a>
            <div class="card-footer">
                <!-- <a class="card-footer-item" href="<%= app.app_url %>" target="_blank">Open</a> -->
                <a id="editBtn" class="card-footer-item" href="/edit/<%= app._id %>">Edit</a>
                <a id="deleteBtn" class="card-footer-item delete-button" onclick="remItem('<%= htmlFormat.targetUrl %><%= app.id %>')">Delete</a>
            </div>
        </div>
    <% }); %>
</div>